In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/dskcy/UEInfo/AQI_bulletins/data/Processed/AllIndiaBulletins_Master_2024.csv")

In [8]:
df[df.year==2015]#['No. Stations']

,Unnamed: 0,date,City,No. Stations,Air Quality,Index Value,Prominent Pollutant,year
0,0,2015-05-01,Varanasi,0,Moderate,157,PM10,2015
1,1,2015-05-01,Kanpur,0,Moderate,175,PM10,2015
2,2,2015-05-01,Faridabad,0,Moderate,173,PM10,2015
3,3,2015-05-01,Ahmedabad,0,Moderate,168,PM2.5,2015
4,4,2015-05-01,Hyderabad,0,Moderate,189,PM2.5,2015
...,...,...,...,...,...,...,...,...
2905,2905,2015-12-31,Navi Mumbai,1,Moderate,116,CO,2015
2906,2906,2015-12-31,Muzaffarpur,1,Severe,465,PM2.5,2015
2907,2907,2015-12-31,Mumbai,1,Moderate,194,PM10,2015
2908,2908,2015-12-31,Lucknow,3,Very Poor,341,PM2.5,2015
2909,2909,2015-12-31,Kanpur,1,Severe,419,PM2.5,2015

In [56]:
year = 2024
values = {}
for city in df[(df.year==year)]['City'].unique():
    max_stations_city = df[(df.year==year)&(df['City']==city)]['No. Stations'].max()
    values[city] = max_stations_city

In [57]:
len(values)

283

In [58]:
sum(values.values())

542